body {
    font-family: Electrolize;
    font-size: 16px;
}

/* 
use dt/dd/dl elements for dynamic arrangement of tables depending on the screen width
e.g.:
    [    A    ][    B    ]
    [    C    ][    D    ]
and:
    [    A    ]
    [    B    ]
    [    C    ]
    [    D    ]
*/
dt, dd, dl {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

dl {
    display: table;
}

dt, dd {
    width: 200px; /* width of a table */
    display: block;
}

@media only screen and (min-width:800px) { /* width of two tables */
    dt, dd {
        float: left;
    }
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    vertical-align: top;
    height: 21px;
    table-layout: auto;
}

table.sheetsection {
    width: 400px;
}

.fieldtype {
    font-variant: small-caps;
}

.fieldtypemedium {
    width: 100px;
    font-variant: small-caps;
}

.fieldtypeshort {
    width: 36px;
    font-variant: small-caps;
}

.fieldcontent {
}

input.fieldcontent {
    width: 289px;
}

.fieldcontentshort {
    width: 36px;
    text-align: center;
}

td.fieldcontentshort {
    width: 40px;
}

.fieldcontentsummary {
    display: table-cell;
}

select {
    height: 21px;
}

select.fieldcontentsummary {
    width: 272px;
}

summary.fieldcontentsummary {
    width: auto;
}

.fieldcontentdetails {}

textarea.notes {
    width: 391px;
    height: 180px;
}

/* change the summary/details marker from a left-aligned arrow to right-aligned text */
/*
summary::-webkit-details-marker {
    display: none;
}

details summary:after {
    font-family: Consolas;
    content: "[+]";
}

details[open] summary:after {
    font-family: Consolas;
    content: "[-]";
}
*/